body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e86de;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

.nav-links {
    color: white;
    text-decoration: underline;
    padding: 10px;
    display: none;
    font-size: 1.2rem;
    margin-top: 0;
}

h2 {
    text-align: center;
    margin: 2rem 0;
    font-family: serif;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 10px;
    gap: 30px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;   
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

footer {
    text-align: center;
    padding: 2rem;
    background: #eee;
    margin-top: 20px;
}

/* Mobile Menu  */
.nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modal Overlay (The 'Viewer') */
.viewer {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2000;
    place-items: center;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid white;
}

.close-viewer {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
}

/* Navigation & Menu Logic */

/* 1. Mobile & Tablet */
#menu-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-links {
    display: none; 
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-links.show {
    display: flex;
}

/* 2. Desktop View */
@media screen and (min-width: 1000px) {
    #menu-button {
        display: none; 
    }

    .nav-links {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}



/* Tablet */
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Desktop */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}